body {
    background-color: #e5e5f7;
    opacity: 0.6;
    background-image: radial-gradient(circle at center center, #445cf7, #08befa), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 11px, transparent 22px, transparent 11px);
    background-blend-mode: multiply;
}

#main {
    text-align: center;
    font-size: 6em;
    font-weight: bold;
}

#level {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

nav {
    background-color: rgb(3, 3, 1);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

#easy:hover {
    color: lime;
}

#medium:hover {
    color: #FFFF33;
}

#hard:hover {
    color: rgb(253, 3, 3);
}