body {
    background-color: black;
    opacity: .8;
     /* The code for this background is from https://www.magicpattern.design/tools/css-backgrounds */
    background-image: radial-gradient(#7FFF00 2px, black 0.8px);
    background-size: 16px 16px;
}

#main {
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    color: #FB33D8;
    text-shadow: 2px 2px #0310EA;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#level {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #FB33D8;
    text-shadow: 2px 2px #0310EA;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    background-color: #0310EA;;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: white;
    margin-right: 25px;
}

#easy:hover {
    color: #7FFF00;
}

#medium:hover {
    color: #FCF340;
}

#hard:hover {
    color: #FB33D8;
}