* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #FB33DB;
    opacity: 1;
     /* The code for this background is from https://www.magicpattern.design/tools/css-backgrounds */
    background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #af0a93 25%, transparent 25.5%, transparent 75%, #af0a93 75%, #af0a93), linear-gradient(60deg, #af0a93 25%, transparent 25.5%, transparent 75%, #af0a93 75%, #af0a93);
    background-size: 22px 39px;
    background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
}

#header {
    color: white;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px #0310EA;
}

nav a {
    color: white;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px #0310EA;
}

nav a:hover {
    color: black;
}

#result {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px #0310EA;
}

.memoryGame {
    width: 960px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memoryCard {
    /* Subtracting 10px from the width and height 
    makes up for the space added by the margin */
    width: calc(16.5% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memoryCard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memoryCard.flip {
    transform: rotateY(180deg);
}

.frontFace, .backFace {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: black;
    backface-visibility: hidden;
}

.frontFace {
    transform: rotateY(180deg);
}