* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #FFFF00;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #FFFF00 20%, black 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FFFF00 20%, #FFFF00 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(black 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, black 2.2px, #FFFF00 2.2px) -1.1px 0;
    background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
}

#header {
    color: white;
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px #0310EA;
}

nav a {
    color: white;
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px #0310EA;
}

nav a:hover {
    color: black;
}

.memoryGame {
    width: 800px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memoryCard {
    width: calc(20% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memoryCard:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memoryCard.flip {
    transform: rotateY(180deg);
}

.frontFace, .backFace {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: black;
    backface-visibility: hidden;
}

.frontFace {
    transform: rotateY(180deg);
}